/**
 * Created by johnreedy on 2019-08-06.
 */
.THIS .ascapFormElementSpacing {
   padding: 12px 12px 12px 12px;
}

.THIS .ascapFormElementLabel {
   vertical-align: top;
   font-weight: bold;
}
.THIS .left-align {
    text-align: left;
}
.THIS .text-bold {
    font-weight: bold;
}