/**
 * Created by johnreedy on 2020-01-02.
 */
.THIS .helpTextIcon {
   position: relative;
   bottom: 3px;
   left: 0px;
}
.THIS .hideLabel label{
    display:none;
}
.THIS .myInputCheckAlignment {
    text-align: left;
    padding-left: 3px;
}